.purple-color{
  color:#350b40
}
.purple-bg,.purple-bg:hover{
background-color: #350b40;
color:white
}
a,a:hover{
  color:white;
  text-decoration: none;
}
.nav-link, .nav-link:hover{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
} 

.footer-container{
  background-color: #350b40;
}

.sidebar-container {
  background-color:#350b40;
  height: 100vh;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: white;
}

img{
  height: 14rem;
}